.vs/
netmf-interpreter/
kudu/
Xamarin.Auth/

.arch/
bin/
obj/

*.user
.svn
*.zip
Thumbs.db
*.obj
*.suo
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Oo]bj/
.vs/

.vs/
.settings/
[Aa]pp.config


